# This file is part of the COMANDO project which is released under the MIT
# license. See file LICENSE for full license details.
#
# AUTHOR: Marco Langiu

# outputs and log files

examples/DESTEST/design.csv
examples/DESTEST/operation.csv

examples/IES/test/*
examples/IES/DesignBenchmark*
examples/IES/*.pickle
examples/IES/CS*

examples/ORC/MAiNGOresult.txt
examples/ORC/fort.1
examples/ORC/custom.bar
examples/ORC/pyomo.bar
examples/ORC/results.pickle
examples/ORC/PH.pgf
examples/ORC/PH.png
examples/ORC/TH.pgf
examples/ORC/TH.png

*.log

# MacOS index files
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.pytest_cache/
htmlcov/
.tox/
coverage/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Sphinx documentation
docs/build*
docs/source/api

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# PyCharm settings
.idea/

# Solver in and output
*.lp
*.nl
*.sol
*.lst
