<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="icon" href="{{ "/images/favicon.png" | absolute_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <!-- <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1> -->
        {% if site.logo %}
          <a href="{{ "/" | absolute_url }}"><img src="{{site.logo | relative_url}}" alt="Logo" /></a>
        {% endif %}
        <p>The 15th International <wbr> Modelica Conference <br> Aachen, Oct 9-11, 2023</p>
        <p>
        <a href="{{ "/call2023.html" | absolute_url }}">[Call for Papers]</a><br>
		<a href="{{ "/authors.html" | absolute_url }}">[Authors' Guide]</a><br>
		<a href="{{ "/othercalls.html" | absolute_url }}">[Other calls]</a><br>
		<a href="{{ "/registration.html" | absolute_url }}">[Registration]</a><br>
		<a href="{{ "/reviewers.html" | absolute_url }}">[Reviewers]</a><br>
		<a href="{{ "/Sessions.html" | absolute_url }}">[Sessions]</a><br>
        </p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <!--
		<h4>Platin sponsors</h4>
        <p>
          <div style="margin:auto;width:360px;">
          </div>
        </p>
		-->
        <h4>Gold sponsors</h4>
        <p>
          <div style="margin:auto;width:360px;">
		  <a style="border-bottom: 0px solid #ccc;" href="https://www.3ds.com/"><img style="padding:5px;height:60px;width:auto;" src="/images/Logos/3DS.png" alt="3DS" /></a> <br>
		  <a style="border-bottom: 0px solid #ccc;" href="https://juliahub.com/"><img style="padding:5px;height:50px;width:auto;" src="/images/Logos/Julia.png" alt="JuliaHub" /></a>
		  </div>
        </p>

        <h4>Silver sponsors</h4>
        <p>
          <div style="margin:auto;width:360px;">
		  <a style="border-bottom: 0px solid #ccc;" href="https://modelon.com/"><img style="padding:5px;height:40px;width:auto;" src="/images/Logos/Modelon.png" alt="Modelon" /></a>
          <a style="border-bottom: 0px solid #ccc;" href="https://tlk-energy.de/en"><img style="padding:5px;height:40px;width:auto;" src="/images/Logos/TLK.svg" alt="TLK-Energy" /></a>
          <a style="border-bottom: 0px solid #ccc;" href="https://www.wolfram.com/"><img style="padding:5px;height:40px;width:auto;" src="/images/Logos/wolfram.png" alt="Wolfram" /></a>
          </div>
        </p>
		
		<h4>Bronze sponsors</h4>
        <p>
          <div style="margin:auto;width:360px;">
		  <a style="border-bottom: 0px solid #ccc;" href="https://www.claytex.com/"><img style="padding:5px;height:30px;width:auto;" src="/images/Logos/Claytex.jpg" alt="Claytex" /></a>
		  <a style="border-bottom: 0px solid #ccc;" href="https://www.xrg-simulation.de/en"><img style="padding:5px;height:30px;width:auto;" src="/images/Logos/XRG.png" alt="XRG" /></a>
          </div>
        </p>
        
        <h4>Organized by</h4>
        <p>
          <div style="margin:auto;width:360px;">
            <a style="border-bottom: 0px solid #ccc;" href="https://modelica.org"><img style="padding:5px;height:38px;width:auto;" src="/images/ModelicaLogo.svg" alt="Modelica Association" /></a>
			<a style="border-bottom: 0px solid #ccc;" href="https://www.ebc.eonerc.rwth-aachen.de/cms/~dmzz/E-ON-ERC-EBC/?lidx=1"><img style="padding:5px;height:38px;width:auto;" src="/images/RWTHAachenUniversity.jpg" alt="Institute for Energy Efficient Buildings and Indoor Climate" /></a>
			<a style="border-bottom: 0px solid #ccc;" href="https://www.fz-juelich.de/en/iek/iek-10"><img style="padding:5px;height:38px;width:auto;" src="/images/FZ_Juelich.png" alt="Forschungszentrum Juelich - IEK-10" /></a>
          </div>
        </p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
